# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/
artifacts/
checkpoints/
*.keras
*.h5
*.pkl
*.joblib

# IDE
.vscode/
.idea/

# Environment variables
.env
*.env

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db